{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 color="blue">中传要闻数据分析</h1>
    <img src="{{url_for('static',filename='wc.jpg')}}" width="200"/><br>
    【提示：输入数字显示TopN新闻，输入文字显示标题包含该词的新闻】
    {{ wtf.quick_form(form) }}
    新闻条数：{{count}}♥
    词频条数：{{wccount}}☺<br>
    <!--
    {% for w in wc %}
        <font color="#9E026D">{{w}}{{wc[w]}}</font>
    {% endfor %}
    -->

    <script src="{{url_for('static',filename='d3.v3.min.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static',filename='d3.layout.cloud.js')}}"></script>
    <script>
        function wc_click(e){
                var evt=e||window.event;
                var evtSrc=evt.target||evt.srcElement;
                location.href="http://127.0.0.1:5000/news/"+evtSrc.textContent;
        }
		 var fill = d3.scale.category20();
		  /*
		 var words=[{text:"战狼2",size:57},{text:"速度与激情8",size:27},{text:"羞羞的铁拳",size:22},{text:"功夫瑜伽",size:18},
		 {text:"西游伏妖篇",size:17},{text:"变形金刚5",size:16},{text:"摔跤吧！爸爸",size:13},{text:"芳华",size:13},
		 {text:"寻梦环游记",size:12},{text:"加勒比海盗5",size:12}];
		  */
        var words=new Array({{wccount}});
        {% for w in wc %}
            words[{{loop.index-1}}]={text:"{{w}}",size:{{wc[w]}}}
        {% endfor %}

		 var wc=d3.layout.cloud()
				  .size([1140, 300])
				  .words(words)
				  .rotate(function() { return Math.random() * 140; })
				  .font("Impact")
				  .fontSize(function(d) { return 6+d.size/2; })
				  .on("end", draw)
				  .start();

		 function draw(words) {
			var svg=d3.select("body")
                      .select("div.page-header")
                      .append("svg")
                      .attr("width", 1140)
                      .attr("height", 300)

			svg.selectAll("text")
			   .data(words)
			   .enter()
			   .append('g')
			   .attr("transform", "translate(570,150)")
			   .append("text")
			   .attr("class","wc")
			   .style("font-size", function(d) { return 5+d.size/2 + "px"; })
			   .style("font-family", "Impact")
			   .style("cursor", "pointer")
			   .style("fill", function(d, i) { return fill(i); })
			   .attr("text-anchor", "middle")

			   .attr("transform", function(d) {
				  return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
				})
				.text(function(d) { return d.text; });
			var ele=document.getElementsByClassName("wc");
            for(var e in ele){
                ele[e].onclick=wc_click;
            }
		 }
    </script>
    {% for n in news %}
    <h4><font color="#9E026D"><a href="{{n.url}}" target="_blank">{{n.title}}</a>【{{n.date}}】【访问量：{{n.newscount}}】</font></h4>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{n.contents}}<br>
    {% endfor %}
</div>
{% endblock %}

