{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}WordNet{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1 color="blue">{% if name %}【英语】{{ name }}<br>【汉语】{{wordc}}<br>
        <h4>【定义】{{wnDef}}<br>
            【同义词】{% for syn in wnSyn %}
            <a href="http://127.0.0.1:5000/{{syn}}">{{syn}}</a>
                      {% endfor %}<br>
            【上位词】{% for h in wnHypernyms %}
            <a href="http://127.0.0.1:5000/{{h}}">{{h}}</a>
                      {% endfor %}<br>
            【上位闭包】{% for h in hyer %}
            <a href="http://127.0.0.1:5000/{{h}}">{{h}}</a>
                      {% endfor %}<br>
            【下位词】{% for h in wnHyponyms %}
            <a href="http://127.0.0.1:5000/{{h}}">{{h}}</a>
                      {% endfor %}<br>
            【下位闭包】{% for h in hypo %}
            <a href="http://127.0.0.1:5000/{{h}}">{{h}}</a>
                      {% endfor %}<br>
            【相关词】{% for h in wnLemmas %}
            <a href="http://127.0.0.1:5000/{{h}}">{{h}}</a>
                      {% endfor %}<br>
            【反义词】{% for h in wnAnto %}
            <a href="http://127.0.0.1:5000/{{h}}">{{h}}</a>
                      {% endfor %}<br>
        </h4>
        {% else %}None!{% endif %}</h1>
</div>
{{ wtf.quick_form(form) }}

<script src="{{ url_for('static',filename='d3.v3.min.js') }}"></script>
<script>
    var  width=(window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth)*0.98;
		var  height=(window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight)*0.9;
		var  img_h=50;
		var  img_w=50;
		var  radius=10;
		var svg=d3.select("body")
                .append("svg")
                .attr("width",width)
                .attr("height",height);
        var nodes=[];
        var edges=[];

        {%for nod in nodejson%}
               nodes[{{loop.index-1}}]={{nodejson[loop.index-1]|tojson}}
        {%endfor%}
        {%for edg in edgejson%}
               edges[{{loop.index-1}}]={{edgejson[loop.index-1]|tojson}}
        {%endfor%}

/*
        var nodes=[{name:"侯亮平",intro:"检查长"},
				{name:"高育良",intro:"省委副书记兼政法委书记"},
				{name:"祁同伟",intro:"公安厅厅长。"}];
	    console.log(nodes[0]);
		var edges=[{source:0,target:1,relation:"师生"},{source:0,target:2,relation:"同门"}];
        console.log(edges[0]);
*/
        var force=d3.layout.force()
                .nodes(nodes)
				.links(edges)
				.size([width,height])
				.linkDistance(100)
				.charge(-600)
                .start();

		//绘制
		var color=d3.scale.category20();
		var lines=svg.selectAll(".forceLine")
	             .data(edges)
				 .enter()
          	     .append("line")
				 .attr("class","forceLine")
				 .style("stroke","gray")
				 .style("opacity",0.6)
                 .style("stroke-width",0.5);

		var circles=svg.selectAll("forceCircle")
	               .data(nodes)
				   .enter()
				   .append("circle")
				   .attr("class","forceCircle")
				   .attr("r",function(d,i){return d.weight+2;})
				   .style("stroke","DarkGray")
				   .style("stroke-width","0.5px")
				   .attr("fill",function(d,i){return color(i);})
				   .call(force.drag);
        var texts=svg.selectAll(".forceText")
                 .data(nodes)
				 .enter()
				 .append("text")
				 .attr("class","forceText")
				 .attr("x",function(d){return d.x;})
				 .attr("y",function(d){return d.y;})
				 .style("fill", "#000")
				 .style("font-size","12px")
				 .attr("text-anchor", "middle")
				 .attr("dy","1.5em")
				 .text(function(d){
				        //return "<a href=http://127.0.0.1:5000/"+d.name+">"+d.name+"</a>";
				        return d.name;
				 });

		force.on("tick",function(){
	          lines.attr("x1",function(d){return d.source.x;});
              lines.attr("y1",function(d){return d.source.y;});
              lines.attr("x2",function(d){return d.target.x;});
              lines.attr("y2",function(d){return d.target.y;});
			  circles.attr("cx",function(d){return d.x;});
			  circles.attr("cy",function(d){return d.y;});
			  texts.attr("x",function(d){return d.x;});
			  texts.attr("y",function(d){return d.y;});

		});
		function wc_click(e){
            var evt=e||window.event;
            var evtSrc=evt.target||evt.srcElement;
            location.href="http://127.0.0.1:5000/"+evtSrc.textContent;
	    }
	    var ele=document.getElementsByClassName("forceText");
        for(var e in ele){
            ele[e].onclick=wc_click;
        }
</script>

{% endblock %}
