{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}WordNet{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1 color="blue">{% if name %}【英语】{{ name }}<br>【汉语】{{wordc}}<br>
        <h4>【定义】{{wnDef}}<br>
            【同义词】{% for syn in wnSyn %}
            <a href="http://127.0.0.1:5000/{{syn}}">{{syn}}</a>
                      {% endfor %}<br>
            【上位词】{% for h in wnHypernyms %}
            <a href="http://127.0.0.1:5000/{{h}}">{{h}}</a>
                      {% endfor %}<br>
            【上位闭包】{% for h in hyer %}
            <a href="http://127.0.0.1:5000/{{h}}">{{h}}</a>
                      {% endfor %}<br>
            【下位词】{% for h in wnHyponyms %}
            <a href="http://127.0.0.1:5000/{{h}}">{{h}}</a>
                      {% endfor %}<br>
            【下位闭包】{% for h in hypo %}
            <a href="http://127.0.0.1:5000/{{h}}">{{h}}</a>
                      {% endfor %}<br>
            【相关词】{% for h in wnLemmas %}
            <a href="http://127.0.0.1:5000/{{h}}">{{h}}</a>
                      {% endfor %}<br>
            【反义词】{% for h in wnAnto %}
            <a href="http://127.0.0.1:5000/{{h}}">{{h}}</a>
                      {% endfor %}<br>
        </h4>
        {% else %}None!{% endif %}</h1>
</div>
{{ wtf.quick_form(form) }}
<script src="{{ url_for('static',filename='d3.v3.min.js') }}"></script>
    <form>
            <input type="radio" name="radio" value="边权" id="radio1" checked onclick="javascript:selectit()">Weight</input>
            <input type="radio" name="radio" value="小圆" id="radio2" onclick="javascript:selectit()">Radius</input>
            <input type="radio" name="flush" value="重绘" id="flush" onclick="javascript:location.reload()">Repaint</input>
            <input type="radio" name="walk" value="循迹" id="walk" onclick="javascript:walkpath()">Walk</input>
            <div id="walkcount"></div>
        <br>
        Node Radius: <input style="position:relative;top:3px;" type="range" id="nodescale" min="0.5" max="10" value="1">
        Edge Length: <input style="position:relative;top:3px;" type="range" id="edgescale" min="50" max="500" value="150">
        Walk Interval: <input style="position:relative;top:3px;" type="range" id="walkscale" min="50" max="2000" value="1000">
    </form>

    <script>
    //删除空格
            var nodeweight;
            var timer=0;
            function trim(str){
                return str.replace(/\s|\xA0/g,"");
            }
		    var width=(window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth)*0.98;
		    var height=(window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight)*0.85;
			var color = d3.scale.category20();

			var force = d3.layout.force()
                        .size([width, height])
                        .linkDistance(d3.select("input[type=range]").value)
                        .charge(-1200);

			var svg = d3.select("body")
						.append("svg")
						.attr("width", width)
						.attr("height", height);
			//箭头绘制
			var defs = svg.append("defs");
            var radius=10;
			var arrowMarker = defs.append("marker")
									.attr("id","arrow")
									.attr("markerUnits","strokeWidth")
									.attr("markerWidth","4")
									.attr("markerHeight","4")
									.attr("viewBox","0 0 4 4")
									.attr("refX",12+radius/8-2)   //实际是radius/strokeWidth
									.attr("refY",2)
									.attr("orient","auto");

			var arrow_path = "M0,1 L4,2 L0,3 L0,0";

			arrowMarker.append("path")
						.attr("d",arrow_path);

			//提示框部分
            var tooltip=d3.selectAll("body")
                        .append("div")
                        .attr("class","tooltip")
                        .style("opacity",0.0);
			d3.json("{{ url_for('static',filename='wordnet.json') }}", function(error, graph) {
			      console.log(graph.length);
                  var nodes=graph.nodes
                  var edges=graph.links
                  nodeweight=new Array(nodes.length);

                force.nodes(nodes)
					  .links(edges)
					  .linkDistance(200)
					  .on("tick",tick)
					  .start();

                //用路径创建边
                var paths = svg.selectAll(".edges")
                              .data(edges)
                              .enter()
                              .append("path")
                              .attr("id", function(d,i) {
                                   return "edgepath" +i;
                              })
                              .attr("class","edges")
                              .attr("fill","none")
                              .style("stroke",function(d){
                                if(d.type==0)
                                    linecolor="#2ca02c";
                                else
                                    linecolor="#ff7f0e";
                                return linecolor;
                              })
                              .attr("marker-end","url(#arrow)")
                              .attr("stroke-width",1);

                var nodessvg = svg.selectAll(".nodes")
                                .data(nodes)
                                .enter()
                                .append("circle")
                                .attr("class","nodes")
                                .attr("r", function(d,i){
                                     if(r==0){
                                        nodeweight[i]=d.weight*3+5;
                                        return d.weight*3+5;
                                     }
                                     else
                                        return 10;
                                  })
                                .style("fill", function(d,i) { return color(i); })
                                .on("mouseover",function(d,i){    //加入提示框
                                    tooltip.html(d.name)
                                           .style("left",(d3.event.pageX)+"px")
                                           .style("top",(d3.event.pageY+20)+"px")
                                           .style("opacity",1.0);
                                  })
                                .on("mouseout",function(d,i){
                                        tooltip.style("opacity",0.0);
                                  })
                                .on("mousedown",function(d,i){
                                        //console.log(d.name);

                                        paths.filter( function(l) { 	//过滤器
                                                 return l.source.index != i && l.target.index != i;
                                            })
                                            .style("stroke","FFFFFF")
                                            .style("stroke-width",0.6);
                                        paths.filter( function(l) { 	//过滤器
                                                 return (l.target.index == i||l.source.index == i)&&(l.type==0);
                                            })
                                            .style("stroke","#2ca02c")
                                            .style("stroke-width",2);
                                        paths.filter( function(l) { 	//过滤器
                                                 return (l.target.index == i||l.source.index == i)&&(l.type==1);
                                            })
                                            .style("stroke","#ff7f0e")
                                            .style("stroke-width",2);

                                        pathtext.filter( function(pt) { 	//过滤器
                                                 return pt.source.index != i && pt.target.index != i;
                                            })
                                            .style("fill","FFFFFF");
                                         pathtext.filter( function(pt) { 	//过滤器
                                                 return pt.source.index == i || pt.target.index == i;
                                            })
                                            .style("fill","000000");
                                  })
                                .call(force.drag);
                var textlist=svg.selectAll(".textList")
                             .data(nodes)
                             .enter()
                             .append("text")
                             .attr("class","textList")
                             .style("font-family","Times New Roman")
                             .style("font-size","12px")
                             .attr("dx","1em")
                             .attr("dy","1em")
                             .attr("text-anchor","middle")
                             .text(function(d){return d.name;});
                var pathtext = svg.selectAll('.pathText')
                                  .data(edges)
                                  .enter()
                                  .append("text")
                                  .attr("class","pathText")
                                  .append('textPath')
                                  .attr("text-anchor", "middle")//居中
                                  .attr("startOffset","50%")
                                  .style("font-size","10px")
                                  .attr('xlink:href', function(d,i) { return "#edgepath" + i; })
                                  .attr("fill","000")
                                  .text(function(d) { return d.runid; });

                function tick() {
                      paths.attr("d", function(d) {
                            var dx = d.target.x - d.source.x;//增量
                            var	dy = d.target.y - d.source.y;
                            dr = Math.sqrt(dx * dx + dy * dy);
                            if (dr!=0){
                               var dInfo="M " + d.source.x + "," + d.source.y + "A " + dr + " " + dr + " 0 0 1 " + d.target.x + "," + d.target.y;
                            }
                            else{
                                dr=(d.runid%3)*5+20;
                                var dInfo="M " + (d.source.x-10) + "," + (d.source.y-10) + "A " + dr + " " + dr + " 180 1 1 " + (d.target.x+10) + "," + (d.target.y+10);
                            }
                            //var dInfo="M" + d.source.x + ","+ d.source.y + "L" + d.target.x + "," + d.target.y;

                            return dInfo;
                          });
                      nodessvg.attr("transform", function(d) {
                        return "translate(" + d.x + "," + d.y + ")";
                      });
                     textlist.attr("x",function(d){return d.x;});
                     textlist.attr("y",function(d){return d.y;});
                }
                d3.select("input[id=edgescale]").on("change", function() {
                    force.linkDistance(this.value)
                         .start();
                });
                d3.select("input[id=walkscale]").on("change", function() {
                    clearInterval(timer);
                    walkpath();
                });
                d3.select("input[id=nodescale]").on("change", function() {
                    console.log(this.value);
                    var scale=this.value;
                    nodessvg.attr("r",function(d){
                        return Math.floor(scale*d.weight+3);
                    })
                    radius=10*scale;
                    arrowMarker.attr("refX",12+radius/8-2);
                });
            })
	</script>
    <script>
        var r=0;
        function selectit(){
            var obj;
            obj=document.getElementsByName("radio");
            console.log(obj);
            var nodessvg=document.getElementsByClassName("nodes");
            for(i=0;i<obj.length;i++){
                if(obj[i].checked&&obj[i].value=="小圆"){
                    r=10;
                    for(var k=0;k<nodessvg.length;k++)
                       nodessvg[k].setAttribute("r",r);
                }
                else
                {
                    for(var k=0;k<nodessvg.length;k++)
                       nodessvg[k].setAttribute("r",nodeweight[k]);
                }
            }
            return null;
        }
        function walkpath(){
            var obj=document.getElementById("walk");
            var pathsvg=document.getElementsByClassName("edges");
            console.log(pathsvg.length);
            var pathtext=document.getElementsByClassName("pathText");
            if(obj.checked){
                for(var k=0;k<pathsvg.length;k++){
                    pathsvg[k].style.opacity = "0";
                    pathtext[k].style.opacity = "0";
                }
            }
            var timer=0;
            var count=0;
            var pathcount=pathsvg.length;
            function tracepath(){
                var j=count % pathcount;
                console.log(j);
                for(var i=0;i<pathsvg.length;i++){
                    if(i==j){
                        pathsvg[i].style.opacity = "1";
                        pathtext[i].style.opacity = "1";
                    }
                }
                if((j==0)&&(count>0)){
                    for(var k=1;k<pathsvg.length;k++){
                        pathsvg[k].style.opacity = "0";
                        pathtext[k].style.opacity = "0";
                    }
                }
                count=count+1;
                document.getElementById("walkcount").innerHTML = count + 1;
            }
            var walkstep=document.getElementById("walkscale").value;
            console.log(walkstep);
            timer=setInterval(tracepath,walkstep);
        }
    </script>

{% endblock %}
